body {
    font-family: Times New Roman,sans-serif;
    background-color: rgb(49, 57, 102);
    color: rgb(255, 255, 255);
    
}

h1 {
    text-align: center;
   
    background-color: rgb(3, 117, 28);
}

h2 {
    color: rgb(3, 117, 28);
}
ul {
    
    list-style-type: lower-alpha;

}

ol {
    
    list-style-type: square;

}

li {
    list-style-position: inside;
    <!--background-color: rgb(75, 139, 109);-->
    margin-bottom: 0.3em;
    list-style-image: url("seta.png");
}
